@media screen and (max-width: 920px) {
  #portfolio-section .work-example {
    width: 50%;
  }
  #portfolio-section .work-example:last-child {
    display: none;
  }
}

@media max-width(750px) and (orientation: landscape) {

  #logo {
    width: 200px;
    height: 200px;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
  }
  #portfolio-button {
    width: 200px;
    margin-top: 28px;
  }
  #resume-button {
    width: 200px;
    margin-top: -26px;
  }
}

@media screen and (max-width: 600px) {
  #about-section #about-img img {
    width: 100%;
  }
  #about-section > img {
    display: block;
    width: 100%;
  }
  #about-content {
    display: block;
    width: 100%;
    padding: 0 32px;
  }

  #portfolio-section .work-example {
    width: 100%;
  }

  #filler-img {
    display: none;
  }

  #footer-logo {
    display: block;
    margin: auto;
  }
  #social-icons {
    display: block;
    text-align: center;
  }
  ul#social {
    margin-top: -30px;
  }
  ul#social li img {
    padding-top: 0;
    margin-top: 0;
  }
  ul#social li a {
    opacity: 1;
  }
  footer p {
    text-align: center;
    padding-left: 0;
  }

}

@media screen and (max-width: 550px) {
  footer p.text-muted span::before {
    content: none;
  }
  #email {
    display: block;
    text-align: center;
    font-size: 16px;
  }
  p.text-muted span {
    font-size: 12px;
  }
}

@media screen and (max-width: 470px) {
  #logo {
    width: 250px;
    height: 250px;
    top: 40%;
    -webkit-transform: translateY(25%);
    -moz-transform: translateY(25%);
  }

  #portfolio-button {
     width: 250px;
     height: 100px;
     display: block;
     margin: auto;
     margin-top: 70px;
  }

  #resume-button {
     width: 250px;
     height: 100px;
     margin-top: -10px;
  }
}

@media screen and (max-width: 350px) {
  #portfolio-section {
    overflow-x: scroll;
  }
}
