.archive-title(<p="", style="font-size:20px")
      | ARCHIVE:
      p
    .archive
      p
        a(href="http://gregmilescohen.github.io/blog/c8-conflict.html") 3.5.2015 - Conflict Q &#38; A
      p
        a(href="http://gregmilescohen.github.io/blog/t8-tech.html") 3.5.2015 - Ruby on Rails
      p
        a(href="http://gregmilescohen.github.io/blog/c7-values.html") 3.1.2015 - Exploring Values
      p
        a(href="http://gregmilescohen.github.io/blog/t7-JavaScript.html") 2.26.2015 - JavaScript: Thoughts after the first week
      p
        a(href="http://gregmilescohen.github.io/blog/t6-oop-concepts.html") 2.21.2015 - Ruby: Inheritance and Composition
      p
        a(href="http://gregmilescohen.github.io/blog/c6-stereotype-threat.html") 2.19.2015 - Stereotype Threat
      p
        a(href="http://gregmilescohen.github.io/blog/t5-ruby-classes.html") 2.13.2015 - Ruby Classes
      p
        a(href="http://gregmilescohen.github.io/blog/c5-feedback.html") 2.13.2015 - Feedback
      p
        a(href="http://gregmilescohen.github.io/blog/c4-tech-issues.html") 2.5.2015 - Net Neutrality
      p
        a(href="http://gregmilescohen.github.io/blog/t4-enumerable-methods.html") 2.5.2015 - Enumerable Methods: #cycle
      p
        a(href="http://gregmilescohen.github.io/blog/c3-thinking-style.html") 1.29.2015 - Thoughts About Thinking Styles
      p
        a(href="http://gregmilescohen.github.io/blog/t3-arrays-hashes.html") 1.28.2015 - Ruby: Arrays &#38; Hashes
      p
        a(href="http://gregmilescohen.github.io/blog/gps1-2.html") GPS 1.2
      p
        a(href="http://gregmilescohen.github.io/blog/t2-css-design.html") 1.24.2015 - CSS: Classes &#38; IDs
      p
        a(href="http://gregmilescohen.github.io/blog/c1-chefs-kitchen.html") 1.15.2015 - DBC &#38; Grilled Cheese
      p
        a(href="http://gregmilescohen.github.io/blog/t1-git-blog.html")
          | 1.15.2015 - Dev Bootcamp Phase 0: Taking the plunge: thoughts and learnings after week 1