extends layout.jade

<!-- // BLOG POST ====================================================== -->
block title
  title c3-thinking-style
block content
  section
    h1 Thoughts About Thinking Styles
    h4 1.29.2015
      p
        | After taking the
        a(href="http://www.thelearningweb.net/personalthink.html") personal thinking style quiz
        | , apparently I am a "concrete random" thinker. This means that I like to take risks, I solve problems independently, I learn best when competing with others, and it"s really hard for me to have a formal routine. Some of those things I would agree with, but some I wouldn"t. I"ll be honest I hate these types of personality quizes. For me at least, they are wildly innacurate because I"ll never answer a personal quiz the same way twice. It really depends how I"m feeling that day. I think there are qualities from all four
        a(href="http://web.cortland.edu/andersmd/learning/gregorc.htm") mind styles
        | that apply to me. For the sake of this blog, I"ll only comment on the learning style traits that are applicable to me within the concrete random "mind style."
      p
        | It is true that I do like to solve problems independently sometimes. I do feel that some tasks are best suited to be done on my own. Working in a group when you"re not confident in the material can end up being a crutch and a hinderance to your learning, because you are always relying on other individuals for information. I think working alone and in groups needs to be a balance. It can also be really effective for me to learn by experimenting on my own, while using my intuition, to find answers. I am not afraid to fail while experimenting. Each failure brings me closer to a solution.
      p
        | Regardless of what one"s thinking style is, I believe it is necessary to have a
        a(href="http://www.brainpickings.org/index.php/2014/01/29/carol-dweck-mindset/") growth mindset
        | to learn effectively. Having a growth mindset having the ability to means take on difficult challenges, show resilience, and learn from failures. Personally, I think I need to be better at taking critisism. I can sometimes have a knee-jerk reaction and take things personally. I need to analyze the information provided to me and use it to get better at whatever it is I"m doing. In general I believe I"ve displayed willpower, grit, and adaptability to new learning environments to get to where I am.
      br
      br
<!-- // END BLOG POST ====================================================== -->