extends layout.jade

<!-- // BLOG POST ====================================================== -->
block title
  title c6-stereotype-threat
block content
  section
    h1 Stereotype Threat
    h2 Things we can all do to beat it
    h4 2.19.2015
    p
      | I was lucky enough to have been born into privilege. Both of my parents had secure jobs while I was growing up, we always had food on the table, I went to a great public school, and then to a good university. I am forever grateful for that. The same cannot be said for much of America. Yes, I have received some rude and inappropriate questions and comments because I am Jewish, but I will never know the feeling or the struggle of what it&#8217;s like at times to be a minority, LGBT, or a woman in our society. When I hear about a friend being &#8220;randomly&#8221; stopped by police on the street and questioned when he&#8217;s just trying to go to work, or a construction worker yelling obscenities at a co-worker when she"s just trying to go to lunch, I feel absolutely horrible and in a sense guilty because I am a white male and do not have to deal with those acts of discrimination and ignorance on a daily basis.
    p
      | Some people"s ignorance towards religious minorities may have made me a bit more closed off and caused a tendency for me to take longer to open up to people, but to say that it has been a huge negative impact on my life would be ignorant and disrespectful to those who have been truly affected by stereotypes, prejudice, intolerance, and thus stereotype threat. Luckily, stereotype threat has not had much of an effect on my life, but that doesn&#8217;t mean there&#8217;s nothing I can do to help reduce stereotyping and in turn stereotype threat. I think the best way for everyone to diminish the idea of stereotypes is to follow the adage  "be the change you want to see in the world." It"s not easy to change the minds and actions of others, but you can change your own mind and your own actions. Be a role model. Personally, I have always made it a priority to respect everyone and never assume anything of anyone. You never know where someone came from or what their background is, so never jump to any conclusions. Always keep these things in mind, and set a positive example for everyone else.
    pre.
                        def elimintate_stereotype_threat
                            puts "Respect everyone"
                            puts "Judge no one"
                            puts "Spread equality"
                            puts "Promote positive change"
                            puts "Pass it on"
                        end


    br
    br
<!-- // END BLOG POST ====================================================== -->