extends layout.jade

<!-- // BLOG POST ====================================================== -->
block title
  title c7-values
block content
  section
    h1 Exploring Values
    h4 3.1.2015
    p
      | Accomplishment, confidence, leadership, personal development, competence, credibility, self-knowledge, achievement, excellence, intellectual status, will power. When it comes to life and career values, those words are very important to me, but some take priority over others at this point in my life.
    p
      | At this transitional stage in my life, personal development is most important to me. I am doing a complete 180 and switching careers, which will require a great deal of personal development. This is why I chose Dev Bootcamp. I want to be prepared culturally and technically for whatever lies ahead of me.
    p
      | I usually go to the smartest person I know for advice, my father. We last talked about will power. When I am stressed, frustrated, or I feel like giving up, I need to remember my long-term goals. I need to think about why I am doing this in the first place. I want to make a better life for myself. I want to be creative. I want to be happy. Thinking of these things help create will power to push through a difficult challenge in school or in life. I believe that thinking of your long-term goals and remembering why you chose to do what you&#8217;re doing in the first place can help to combat stereotype threat among many other things. As I said in my
      a(href="http://gregmilescohen.github.io/blog/c6-stereotype-threat.html")&nbsp;blog about stereotype threat
      | , I will not pretend to relate those suffering from stereotype threat. However I will always sympathize and provide support if I am asked to do so. Think about the people who love and care about you. Think about where you want to be in the future. Block out of you mind what other people may or may not think about you, because you control your own destiny. These are things we should all think about if we are feeling down, insignificant, or out of control.
      br
      br
<!-- // END BLOG POST ====================================================== -->