extends layout.jade

<!-- // BLOG POST ====================================================== -->
block title
  title c8-conflict
block content
  section
    h1 Conflict Q &#38; A
    h4 3.6.2015
    p
      strong Discuss a time you had a conflict. What was it about? What happened?
    p
      | I think most people who move to New York City right out of college without much money all have a horror story about their first apartment. I have a collection of these stories, but I&#8217;ll talk about one in particular. We had an open room in our 4 br duplex (a crazy story of why that room was vacated, but that&#8217;s for another time) and our landlord insisted on filling that room using a leasing agency rather than letting us (the tenants) fill the room with someone we&#8217;d interviewed and determined was a good fit. Myself and the two other tenants are pretty quiet, work 9-5ish jobs, and keep to ourselves. So naturally, the new tenant that was selected is an extremely loud and dirty nocturnal bartender. Let&#8217;s call this person Steve for the sake of telling the story. Steve moved in on a Friday, and all weekend he would play loud music (we have very thin walls), leave food out, and leave dirty dishes in the sink. Then it was Monday morning. The two other roommates and I are getting ready to leave for work in the kitchen/dining area, and there&#8217;s Steve, completely drunk in his underwear (and still drinking), beer bottles everywhere, loud music playing, and about 15 people in full party mode crammed into his 100 sqft. bedroom. At 8:00 in the morning. Lovely. I said to him right there that this is unacceptable.
    p
      strong What was the source of the conflict?
    p
      | I believe the source of the conflict was the person who chose Steve to be the new tenant, and my landlord. Steve should have never been there in the first place. Our landlord never took into account the lifestyles/behaviors of the tenants who were already living there.
    p
      strong What basic emotions did you feel upon analyzing the conflict?
    p
      | I felt anger and I felt that what was happening was unfair, especially given prior issues I had had with the same apartment.
    p
    p
      strong What actions did you take to resolve your conflict?
    p
      | I met with my roommates the night after the incident, and we agreed to do everything we could to have him removed from our apartment. We told our landlord the situation, and he agreed to not let Steve sign the lease, and told him that he had to leave. We were told that he would be gone by Friday. He wasn&#8217;t. Not only that, Steve went to the leasing agency himself, told them that he had resolved his conflicts with the other roommates and said we were all good. They let him sign the lease on the spot without consulting us. Now nothing could be done. And guess what? Steve is still living here. However after several conversations with him he has gotten better, but he is still far from being an ideal roommate.
    p
      strong If you could go back, what would you do differently, if anything?
    p
      | I wish I had had the foresight to go to the leasing agency myself to tell them the situation. I should have known from past experiences that my landlord was not to be trusted.
    p
      strong What did you learn from this experience?
    p
      | For situations like these that involve people that I barely know or trust, if I want something done right, or done at all, I need to take the initiative and do it myself.
    br
    br
<!-- // END BLOG POST ====================================================== -->