extends layout.jade

<!-- // BLOG POST ====================================================== -->
block title
  title c9-questions
block content
  section
    h1 Asking Good Questions
    h4 3.13.2015

    p When I look back at the questions I’ve asked throughout DBC Phase 0, there are definitely things that I have done right when formulating them. I think I have done a good job of checking my spelling and grammar; I always want to make sure I’m giving the impression that I care about the quality of my work. I also think that I have done a good job of making my questions specific. Some of my questions are long, but it’s far better to write more and get your point across than to write less and be vague. However there are several aspects of my questions in which I can improve upon.

    p Every time I write a question I am usually in a frustrated or aggravated state. I am most likely asking a question because I have been researching for hours without finding a resolution to my problem due to my stubbornness and wanting to figure things out on my own. This may unfortunately be on display in the questions I am asking. I need to make sure that I am in the right state of mind when asking a question. Otherwise, I may turn people off who may have been able to help me.

    p Another thing I need to watch out for is the code examples I am providing along with my question. I often times just paste a link to my whole program, thinking that being able to see everything may help someone answer my question. In the future when I’m working for an employer, this is probably not a good idea. Actually it’s a horrible idea (for obvious reasons). I need only provide code that is necessary to put the question in the correct context. Also seeing a lot of code that is unrelated to my problem may again turn someone off who would otherwise have been able to help me.

    p By being in the right mindset and providing only the code that is necessary, my questions will improve, and in turn so will the answers that I receive.


    br
    br
<!-- // END BLOG POST ====================================================== -->