doctype html
html
  head
    block title
      title blog post title
    meta(charset="UTF-8")
    link(rel="stylesheet", type="text/css", href="../stylesheets/blog-stylesheet.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type="text/javascript", src="../scripts/default.js")

  body
    include navbar.jade
    //- // BLOG ARCHIVE
    include archive.jade
    //- // BLOG POST ======================================================

    block content

    //- // END BLOG POST ======================================================
    .footer
      .phone
        .phone-icon
          img(src="https://github.com/gregmilescohen/gregmilescohen.github.io/blob/master/img/iphone-icon-white.png?raw=true", height="45px", width="45px")
        .phone-number
          | 215.601.6730
      .mail
        .mail-icon
          img(src="https://github.com/gregmilescohen/gregmilescohen.github.io/blob/master/img/mail-icon.png?raw=true", height="45px", width="45px")
        .email
          | gregmilescohen@gmail.com
      table
        tbody
          tr
            td
              a(href="https://www.linkedin.com/pub/greg-cohen/52/204/559")
                img(src="https://raw.githubusercontent.com/gregmilescohen/gregmilescohen.github.io/master/img/linkedin2.png")
            td
              a(href="https://twitter.com/gregmilescohen")
                img(src="https://raw.githubusercontent.com/gregmilescohen/gregmilescohen.github.io/master/img/twitter2.png")
            td
              a(href="https://www.facebook.com/greg.cohen.52")
                img(src="https://raw.githubusercontent.com/gregmilescohen/gregmilescohen.github.io/master/img/facebook2.png")
            td
              a(href="http://instagram.com/gregmilescohen/")
                img(src="https://raw.githubusercontent.com/gregmilescohen/gregmilescohen.github.io/master/img/instagram2.png")
            td
              a(href="https://github.com/gregmilescohen")
                img(src="https://raw.githubusercontent.com/gregmilescohen/gregmilescohen.github.io/master/img/github2.png")
