.navbar
  //- // nav logo
  .nav-logo
    a(href="http://gregmilescohen.github.io")
      img(src="https://raw.githubusercontent.com/gregmilescohen/gregmilescohen.github.io/master/img/gmc-mainlogo-3.png", height="155", width="136")
  //- // PAGE LINKS
  .nav-links
    #home
      a(style="color:#FFF056", href="http://gregmilescohen.github.io") HOME
    #about
      a(href="#About") ABOUT
    #work
      a(href="http://gregmilescohen.github.io/work") WORK
    #contact
      a(href="http://gregmilescohen.github.io/contact") CONTACT
    #blog
      a(href="http://gregmilescohen.github.io/blog") BLOG
  //- // Social media links

  #social
    a(href="https://www.linkedin.com/pub/greg-cohen/52/204/559")
      img(src="https://raw.githubusercontent.com/gregmilescohen/gregmilescohen.github.io/master/img/linkedin2.png", height="25px", width="25px")
    a(href="https://twitter.com/gregmilescohen")
      img(src="https://raw.githubusercontent.com/gregmilescohen/gregmilescohen.github.io/master/img/twitter2.png", height="25px", width="25px")
    a(href="https://www.facebook.com/greg.cohen.52")
      img(src="https://raw.githubusercontent.com/gregmilescohen/gregmilescohen.github.io/master/img/facebook2.png", height="25px", width="25px")
    a(href="http://instagram.com/gregmilescohen/")
      img(src="https://raw.githubusercontent.com/gregmilescohen/gregmilescohen.github.io/master/img/instagram2.png", height="25px", width="25px")
    a(href="https://github.com/gregmilescohen")
      img(src="https://raw.githubusercontent.com/gregmilescohen/gregmilescohen.github.io/master/img/github2.png", height="25px", width="25px")