extends layout.jade

<!-- // BLOG POST ====================================================== -->
block title
  title t2-css-design
block content
  section
  h1 CSS: Classes &#38; IDs
  h2 What"s The Difference?
  h4 1.24.2015
  section
    p
      | I started learning CSS just three days ago, and I cannot believe how much I have already been able to accomplish. One thing I&#8217;ve learned that is very important is the usage of &#8220;classes&#8221; and &#8220;IDs.&#8221; These properties allow us to adjust the parameters of a single element or multiple elements.
    p
      | Classes are great for when you have multiple elements that need the same styling. The CSS syntax for a class looks like this:
    p
      strong .object {
    p
      strong height: 2em;
    p
      strong width: 2em;
    p
      strong }
    p
    p
      | IDs are great for when you have a single element that needs to be styled a certain way. This allows for some serious customization! The CSS syntax for an id looks like this:
    p
      strong #text {
    p
      strong color: #000000;
    p
      strong font-family: sans-serif;
    p
      strong }
    p
    p
      | Classes and IDs have certainly helped me, so I hope this information helps some of you as well!
    br
    br
<!-- // END BLOG POST ====================================================== -->