extends layout.jade

<!-- // BLOG POST ====================================================== -->
block title
  title t8-tech
block content
  section
    h1 Ruby on Rails
    h2 What is Rails?
    h4 3.5.15
    p
      | So far in DBC Phase 0, we have only been raw coding in a text editor. We have not used any type of framework. Because I started coding the same time I started DBC, this is all I know. From what I understand, in the future I will always be working in a framework, and more specifically using the framework Ruby on Rails. But I want to delve into what Rails actually is so that I have a better understanding of what I&#8217;m getting myself in to.
    p
      | Wikipedia tells us &#8220;Rails is a full-stack framework that emphasizes the use of well-known software engineering patterns and paradigms, including convention over configuration (CoC), don"t repeat yourself (DRY), the active record pattern, and model&#8211;view&#8211;controller (MVC).&#8221; Considering my coding experience is a mere 8 weeks old, this technical description does not help me much, and probably won&#8217;t help any other beginners either.
    p
      | Ruby on Rails (usually just referred to as &#8220;Rails&#8221;) is a software library that adds to and expands upon the Ruby language. But why would we want to use Rails? Well Rails is a framework that makes building a website much easier. And we all want easier. The framework combines Ruby, HTML, CSS, and JavaScript so that we can easily build web applications and complex web sites. The main difference between &#8220;coding raw&#8221; (what I&#8217;m doing now using Sublime as my text editor) and using the Rails framework, is that right now outside of a framework I can find one solution a hundred different ways. Whereas with Rails, there are often times one particular way to do something. I believe that I prefer the latter. I like knowing that there is one best practice to perform a task. It avoids confusion.
    p
      | What I believe may be more important than Ruby on Rails itself is the community that surrounds it. Rails has become so popular in large part because of the massive amount of open-source software available to it. This has attracted businesses, investors, and recruiters alike to the Rails community. I think that just being part of the Rails community will help anyone in their career, which is what makes me so excited.
    br
    br
    p
      | Sources:
      a(href="http://railsapps.github.io/what-is-ruby-rails.html") http://railsapps.github.io/what-is-ruby-rails.html
      | ,
      br
      a(href="http://en.wikipedia.org/wiki/Ruby_on_Rails") http://en.wikipedia.org/wiki/Ruby_on_Rails
    br
    br
<!-- // END BLOG POST ====================================================== -->