extends layout.jade

<!-- // BLOG POST ====================================================== -->
block title
  title t9-blog-updates
block content
  section
    h1 Blog Updates
    h2 Now and going forward
    h4 3.13.2015

    p I spent a lot time during this last week of Phase 0 working on my website and blog. I wanted it to look professional, be responsive, and give people an idea of what I’m about. There is still much that needs to be improved upon, but I think I’m in a pretty good place right now.

    p The first thing I did was rework my navigation bar and footer, so that each displayed a lot of helpful information that can be seen at a glance. I am still having difficulty getting things positioned exactly the way I want, so for right now it is still a lot of  experimentation and guess and check. I also spent a good amount of time learning about JQuery so that I could make elements of my site responsive, such as the page links and social media links in my navigation bar.

    p The majority of my time was spent transitioning my blog into the Jade framework. I decided to set up a tutoring session to help me with this to avoid unnecessary frustration that I would have experienced had I tried to set everything up on my own. Jade makes my blog totally modular, which I LOVE. I now have a scrolling archive that is easily updated, and the blog post itself is now completely interchangeable.  Now when I write a new blog post, there is very little I need to do to update other elements to reflect the new post. Jade does the bulk of the work for me.

    p Going forward, I still need to create my “work” page, and then incorporate everything into the Jade framework, not just my blog. For now though I am happy with what I have. Phase 1, which I am told is all Ruby, starts next week. So I am going to hold off on updating my website so that I can get back into Ruby mode and get prepared for the next 9 weeks of craziness.



    br
    br
<!-- // END BLOG POST ====================================================== -->