body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p,a {
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 16px;
}

a {
  transition: all .5s;
  /*to get rid of strange text rendering in safari*/
  -webkit-transform: translateZ(0px);
}
a:hover {
  transition: all .5s;
  -webkit-transform: translateZ(0px);
}
main {
  background: url(img/central-park-1.jpg) center top;
  background-size: cover;
}
#main-nav {
  background: #fff;
  padding: 9px 0 6px;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: auto;
  /* margin-top: 70px; */
}
#main-nav a {
  /*padding: 21px;*/
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
}
#main-nav a:hover {
  opacity: 0.4;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -webkit-transform: translateZ(0px);
}

#main-nav #nav-container {
  max-width: 1000px;
  margin: auto;
}

main img {
  display: inline-block;
  margin: auto;
  padding: 80px 0 100px;
}

/*#main-logo #occupation {
  position: absolute;
  background: #fff;
  width: 350px;
  height: 150px;
}*/

main p {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: auto;
  color: #fff;
  position: absolute;
  margin-top: -105px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  /*font-style: italic;*/
  font-weight: 300;
  letter-spacing: 3px;
}

#about-content p:nth-child(3) {
  padding-bottom: 15px;
}

#portfolio-section {
  position: relative;
  background-color: #fff;
  max-width: 1500px;
  margin: auto;
}

#portfolio-container {
  width: 90%;
  margin: auto;
  padding-top: 10px;
}

#portfolio-section ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#portfolio-section ul li {
  display: inline-block;
  padding: 10px;
}

#portfolio-section .work-example {
  background-color: #fff;
  height: 250px;
  width: 300px;
}

#nyc {
  background: url(img/cab-thumb@2x.jpg);
  background-size: cover;
}

#flix {
  background: url(img/flix-thumb@2x.jpg) left top;
  background-size: cover;
}

#solar {
  background: url(img/solar-thumb@2x.jpg) top right;
  background-size: cover;
}

#jive-factory {
  background: url(img/jivefactory-thumb@2x.jpg);
  background-size: cover;
}

#tastify {
  background: url(img/tastify-thumb@2x.jpg);
  background-size: cover;
}

#ux {
  background: url(img/ux-thumb@2x.jpg);
  background-size: cover;
}

#zen-garden {
  background: url(img/zen-garden-logo.svg);
  background-size: cover;
}

/*============================
OVERLAY EFFECT
============================*/

.work-example {
  position: relative;
  vertical-align: top;
  overflow: visible;
}

.media-image { display: block; }

.overlay-content {
  background: rgba(0,0,0, 0.7);
  bottom: 0;
  width: 300px;
  color: white;
  font-size: 1em;
  /* left: 0; */
  opacity: 0;
  padding: 70px;
  position: absolute;
  text-align: left;
  top: 0;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translateZ(0px);

}

.no-touch .overlay-content:hover { opacity: 1; }

.no-touch .overlay-content:after,
.no-touch .overlay-content:before {
  bottom: 1em;
  content: '';
  left: 1em;
  opacity: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
  -webkit-transform: translateZ(0px);
}

.no-touch .overlay-content:before {
  border-bottom: none;
  border-top: none;
  left: 2em;
  right: 2em;
}

.no-touch .overlay-content:after {
  border-left: none;
  border-right: none;
  bottom: 2em;
  top: 2em;
}

.no-touch .overlay-content:hover:after,
.no-touch .overlay-content:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.overlay-content h2 { margin-top: 0; }

.overlay-content p { margin-bottom: 1.5em; }



/*======================================================*/
/*ABOUT and CONTACT SLIDERS*/

#about-section {
  display: none;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

#about-section #about-img {
  /*height: 200px;
  width: 400px;*/
}

#about-section #about-img img {
  padding: 15px 30px 0;
}

#about-section .close-wrapper {
  /*padding: 0 0 15px 0;*/
  -webkit-transform: translateZ(0px);
}

#about-section a#about-close {
  /* text-align: center; */
  font-size: 28px;
  /* margin: auto; */
  padding: 0 6px;
  /* outline: 1px solid black; */
  opacity: 0.5;
  -webkit-transform: translateZ(0px);
}

#about-section a#about-close:hover {
  opacity: 1;
  -webkit-transform: translateZ(0px);
}

#about-section a, #contact-section a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

#about-section a:hover, #contact-section a:hover {
  opacity: 0.4;
}

#about-section #about-content {
  padding: 0 32px;
}

#about-section #about-content p a img {
  padding-right: 8px;
  text-align: center;
  /*-webkit-transform: translateZ(0px);*/
}

#resume {
  display: inline;
  -webkit-transform: translateZ(0px);
}

#about-content #pdf-icon {
  height: 32px;
  width: 40px;
  /*-webkit-transform: translateZ(0px);*/
}

#contact-section {
  display:none;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

#contact-section .close-wrapper {
  width: 25px;
  margin: auto;
  padding-bottom: 10px;
  -webkit-transform: translateZ(0px);
}

#contact-section a#contact-close {
  text-align: center;
  font-size: 28px;
  /* margin: auto; */
  padding: 0 6px;
  opacity: 0.5;
  -webkit-transform: translateZ(0px);
}

#contact-section a#contact-close:hover {
  opacity: 1;
  -webkit-transform: translateZ(0px);
}

#contact-email {
  margin-left: auto;
  text-align: center;
  margin-top: 24px;
  -webkit-transform: translateZ(0px);
}
#contact-email a{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  -webkit-transform: translateZ(0px);
}

#contact-email h2, #contact-email h4 {
  display: inline;
}

#social {
  text-align: center;
  -webkit-transform: translateZ(0px);
  padding-bottom: 15px;
}

/*#social img {
  -webkit-transform: translateZ(0px);
}*/

.social-button {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin:0 20px;
  transition: all .5s;
  /*-webkit-transform: translateZ(0px);*/
}

.social-button:hover {
  opacity: 0.4;
  transition: all .5s;
  /*-webkit-transform: translateZ(0px);*/
}

#social a {
  padding: 15px;
  /*-webkit-transform: translateZ(0px);*/
}

footer p {
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
}

footer hr {
  border-color: rgba(95, 95, 95, 0.2);
}

@media screen and (max-width: 600px) {
  #about-section #about-img img {
    width: 100%;
  }
  #about-section > img {
    display: block;
    width: 100%;
  }
  #about-content {
    display: block;
    width: 100%;
    padding: 0 32px;
  }
}

@media screen and (max-width: 350px) {
  #portfolio-section {
    overflow-x: scroll;
  }
  #portfolio-section .work-example {
    height: 200px;
    width: 250px;
  }
}

@media screen and (max-width: 382px) {
  #main-nav a {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 339px) {
  #main-nav a {
    font-size: 14px;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 505px) and (max-width: 717px) {
  #portfolio-section .work-example {
    height: 325px;
    width: 425px;
  }
}