  /*this should go at the top of every .css. */

html, body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
background-color: white;
font-family: Raleway;

  /*Link to font-family*/
  src: url(http://fonts.googleapis.com/css?family=Raleway:400,600,900,300);
}


h1 {
  text-align: left;
  color: #000000;
  font-size: 4em;
  font-family: Raleway;
  font-weight: bold;
  margin-left: 30%;
  margin-right: 10;
  margin-bottom: -15px;

  /*Link to font-family*/
  src: url(http://fonts.googleapis.com/css?family=Raleway:400,600,900,300);
}

h2 {
  text-align: left;
  font-family: Raleway;
  font-style: italic;
  color: black;
  margin-left: 30%;


  /*Link to font-family*/
  src: url(http://fonts.googleapis.com/css?family=Raleway:400,600,900,300);
}

h4 {
  text-align: left;
  margin-bottom: 25px;
  margin-left: 30%;
  font-family: Raleway;
  color: black;
  font-size: 1em;

  /*Link to font-family*/
  src: url(http://fonts.googleapis.com/css?family=Raleway:400,600,900,300);
}

p {
  margin-left: 30%;
  margin-right: 25%;
  font-family: Raleway;
  font-size: 1em;
  color: black;

  /*Link to font-family*/
  src: url(http://fonts.googleapis.com/css?family=Raleway:400,600,900,300);

}

pre {
  margin-left: 25%;
  margin-right: 50%;
  color: navy;
}

for links within blog
section a {
  white-space: nowrap;
  text-decoration: none;
}

/* ======================================= */
/* NAV BAR */

.navbar {
  position:
  width: 100%;
  height: 160px;
  margin: 0;
  padding: 0;
  background: black;
}

.nav-logo {
  position: absolute;
  margin-left: 1%;
  margin-top: 1px
}

.nav-links {
  font-weight: bold;
  font-size: 150%;
  text-align: right;
  margin-top: 9px;
  margin-right: 18px;
  float: right;
  font-color: #ffffff;
}

#social {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: 160px;
}

/* ========================================== */


a  {
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
  display: block;


}

a:hover {
  color: #FFF056;

}

/* ARCHIVE */

.archive a {
  color: black;
  font-size: 12px;
}

.archive a:hover {
  color: #FFF056;
}

.archive {
  margin-left: -50px;
  margin-top: 180px;
  width: 250px;
  height: 400px;
  overflow: auto;
  float:left;
}

.archive-title {
  position:absolute;
  margin-left: 25px;
  margin-top: 150px;
}



/*================================================*/
/*FOOTER - FOR ALL PAGES*/


.footer {
   position: absolute;
   width:100%;
   opacity: 0.85;
   background: black;
}


.footer tr{
  position:absolute;
  margin-top: -75px;
  margin-left: 8%;

}

.phone {
  position:relative;
  margin-left: 46%;
  margin-top: 100px;

}

.phone-icon {
  position: absolute;
  margin-left: 4%;
  margin-top: -65px
}

.phone-number {
  position: absolute;
  color: #ffffff;
  margin-top:-20px;
  font-size: 12px;
  padding: 10px;
}

.mail {
  position:relative;
  height: 100px;
  width: 100px;
  margin-left: 78%;
  margin-top: -80px;

}

.mail-icon {
  position: absolute;
  margin-right: 40px;
  margin-top: 25px;

}

.email{
  position:absolute;
  color: white;
  font-size: 12px;
  margin-left: -60px;
  margin-top: 70px

}

/*================================================*/