/*this should go at the top of every .css. */

html, body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
font-family: Raleway;

  /*Link to font-family*/
  src: url(http://fonts.googleapis.com/css?family=Raleway:400,600,900,300);
}

/*For background image*/
/*#bg and #bg img are for index.html (home page) only!*/
/*adjusts div*/
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 

  /*doubles size of div to maintain aspect ratio*/
  width: 200%; 
  height: 200%;
}

/*For background image*/
/*adjusts the image inside the div*/
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
} 




.navbar {
  position: absolute;
  width: 100%;
  height: 3em;
  margin-top: 10px;
  opacity: 0.65;
  background: #000000;
}

.nav-logo {
  position: absolute;
  margin:7px 0px 0px 80px; 
}

#nav-links {
  margin-top: 21px;
  position: absolute;
  margin-left: 50%;
  font-color: #ffffff;
}

#mainlogo {
  position:relative;
  margin: auto; /*centers div*/
  text-align: center; /* centers whatever is inside the div*/
  margin-top: 50px;

}

/*#linkedin:hover {
  background-image: url(https://raw.githubusercontent.com/gregmilescohen/gregmilescohen.github.io/master/img/linkedin-hover.png)
} */

a  {
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
  display: block;
  

}

a:hover {
  color: #FFF056;

}

#social {
  display: inline-block;
  margin-top: 80px;
  margin-left: 80px;
}

#bloglinks {
  position: relative;
  margin: auto;
  text-align: center;
  margin-top: 7em;
  font-size: 1em;
  font-family: Raleway;

  /*Link to font-family*/
  src: url(http://fonts.googleapis.com/css?family=Raleway:400,600,900,300);
}

#linkedin {
  position: absolute;
  margin-top: 80px;
  margin-left: 80px;
}

#footer {
   position:absolute;
   display:block;
   margin-top: 20%;
   height: 7em;
   width:100%;
   opacity: 0.65;
   background: #000000;
}