/*this should go at the top of every .css. */

html, body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
font-family: Raleway;

  /*Link to font-family*/
  src: url(http://fonts.googleapis.com/css?family=Raleway:400,600,900,300);
}

/*For background image*/
/*#bg and #bg img are for index.html (home page) only!*/
/*adjusts div*/
#bg {
  position: fixed;
  top: -50%;
  left: -50%;

  /*doubles size of div to maintain aspect ratio*/
  width: 200%;
  height: 200%;
}

/*For background image*/
/*adjusts the image inside the div*/
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.navbar {
  position:
  width: 100%;
  height: 160px;
  margin: 0;
  padding: 0;
  opacity: 0.85;
  background: black;
}

.nav-logo {
  position: absolute;
  margin-left: 20px;
  margin-top: 1px
}

.nav-links {
  font-weight: bold;
  font-size: 150%;
  text-align: right;
  margin-top: 9px;
  margin-right: 28px;
  float: right;
  font-color: #ffffff;
}

#social {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: 160px;
}

#mainlogo {
  position: relative;
  margin: auto; /*centers div*/
  text-align: center; /* centers whatever is inside the div*/
  margin-top: 50px;
  margin-bottom: 40px;

}

/*#linkedin:hover {
  background-image: url(https://raw.githubusercontent.com/gregmilescohen/gregmilescohen.github.io/master/img/linkedin-hover.png)
} */

a  {
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
  display: block;


}

a:hover {
  color: #FFF056;

}



#bloglinks {
  position: relative;
  margin: auto;
  text-align: center;
  margin-top: 7em;
  font-size: 1em;
  font-family: Raleway;

  /*Link to font-family*/
  src: url(http://fonts.googleapis.com/css?family=Raleway:400,600,900,300);
}

#linkedin {
  position: absolute;
  margin-top: 80px;
  margin-left: 80px;
}


/* ABOUT SECTION */

.about {
   position:relative;
   width:100%;
   opacity: 0.9;
   background: rgba(255, 255, 255, 0.85);
   background:rgb(255, 255, 255); /*fallback*/
}

.about-header {
  position:absolute;
  color: #FFF056;
  font-size: 60px;
  font-weight: bold;
  margin-left:68%;
  margin-top: 30px;
}

.about-content {
  color: black;
  font-size: 20px;
  padding: 80px;
}

.about-img {
  position:relative;
  display:block;
  float: left;
  vertical-align: middle;
  margin-right: 25px;
  padding: 20px;
}



/*FOOTER - FOR ALL PAGES*/
.footer {
   position: absolute;
   width:100%;
   opacity: 0.85;
   background: black;
}


.footer tr{
  position:absolute;
  margin-top: -75px;
  margin-left: 8%;

}

.phone {
  position:relative;
  margin-left: 46%;
  margin-top: 100px;

}

.phone-icon {
  position: absolute;
  margin-left: 4%;
  margin-top: -65px
}

.phone-number {
  position: absolute;
  color: #ffffff;
  margin-top:-20px;
  font-size: 12px;
  padding: 10px;
}

.mail {
  position:relative;
  height: 100px;
  width: 100px;
  margin-left: 78%;
  margin-top: -80px;

}

.mail-icon {
  position: absolute;
  margin-right: 40px;
  margin-top: 25px;

}

.email{
  position:absolute;
  color: white;
  font-size: 12px;
  margin-left: -60px;
  margin-top: 70px

}

.col {
  width: 33.3%;
}


/* @media and (max-width:560px) and (min-width:400px){

.footer-social {
  display: block;
  align:center;
}

.phone {
  display: block;
  align:center;
}

.mail {
  display: block;
  align:center;
}

} */